body{
    /* background-image: url("laptop.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%; 
}

a:hover {
   
    opacity: 0.5;

  }

  .container {
    position: relative;
    text-align: center;
    color:white;
}


    

  .bottom-center {
        position: absolute;
        top: 102%;
        left: 50%;
        bottom: 90%;
        transform: translate(-50%, -50%);
        
      }




  .te{
    color: azure;
    width: 100%;
    padding-top: 10rem;
  }

  /* .hed:hover{
    opacity: 0.5;
  } */

  .hed{
    opacity: 0.5;
    
  }

  .hedd{
    opacity: 0.5;
    margin-top: 2rem;
  }

  

 
  .cir{
    border: 2px solid black;
  
  }

  .ca{
     text-align: center;
     padding-top: 3rem;
     margin: 1rem;
  }

  .card:hover{
    transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 

    
  }

  


 
 
  